$full-height: 100vh;
$full-width: 100vw;
$stack-on-nav: 10%;
$fade: .6s;
$bg-img-one: '/Users/julian/websites/Portfolio/media-icons/background-parallax.png';
$bg-img-two: '/Users/julian/websites/Portfolio/media-icons/background-parallax-two.png';
$bg-img-three: '/Users/julian/websites/Portfolio/media-icons/background-parallax-three.png';


@mixin parallax($bg-img) {
  height: 75vh;
  background-image: url($bg-img);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin nav-fade($fade) {
  -o-transition: $fade;
  -ms-transition: $fade;
  -moz-transition: $fade;
  -webkit-transition: $fade;
  transition: $fade;
}

.title-section{
  height: $full-height;
  width: $full-width;
  display: inline-block;
  padding-left: $stack-on-nav;
  h1 {
    font-size: 4rem;
    padding-left: 10%;
  }
  p {
    padding-left: 10%;
    font-size: 2.5rem;
    opacity: .5;
  }
}

nav {
   height: $full-height;  
   display: inline;
   
  ul {
    list-style-type: none;
    margin: 0;
    padding: 20% 0 0 0;
    width: 10%;
    height: 100%;
    background-color: black;
    position: fixed;
    li{
      width: 100%;
     
       a {
        padding: 7% 0 7% 3%;
        margin: 0;
        width: 100%;
        display: block;
        color: white;
        text-decoration: none;
        text-align: left;
        line-height: 1.6;
        font-size: 1rem;
        &:hover{
          color: black;
          background-color: white;
          @include nav-fade($fade);
          
        }
      }
    }
  }
}

.skills-container{
  padding-left: $stack-on-nav;
  text-align: center;
  width: 100%;
  justify: center;
  .flex-container{
    padding-left: 25%;
    height: 80%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    .skill-card{
     background-color: 	#f2f2f2;
     border: 2px solid #cccccc;
     padding: 5%;
     margin: 5%;
     text-align: center;
     p{
       padding: 0;
       margin: 0;
       text-algin: center;
     }
     img{
       text-align: center;
     }
    }
  }
}

.projects-container{
  padding-left: $stack-on-nav;
}

.work-container{
  padding-left: $stack-on-nav;
}

.education-container{
  padding-left: $stack-on-nav;
}

.personal-container{
  padding-left: $stack-on-nav;
}


//backgounds

.bg-one{
  @include parallax($bg-img-one);
}

.bg-two{
  @include parallax($bg-img-two);
}

.bg-three {
  @include parallax($bg-img-three);
}

//badges

.badge-icon{
  height: 75px;
  width: 75px;
  text-align: center;
}









//Delete this later. Its just for codepen.
.blinker{
  
  background-color: white;
  color: black;
  animation-name: blinker-animation;
  animation-duration: 1.1s;
  animation-iteration-count:infinite;
  
}

@keyframes blinker-animation{
  from {
    background-color: white;
    color: black;
  }
  to {
    background-color: black;
    color:white;    
  }
}
