$full-height: 100vh;
$full-width: 100vw;
$stack-on-nav: 10%;
$fade: .6s;
$title-font: 'Roboto', sans-serif;
$content-font: 'Raleway', sans-serif;
$bg-img-one: '/Users/julian/websites/Portfolio/media-icons/background-parallax.png';
$bg-img-two: '/Users/julian/websites/Portfolio/media-icons/background-parallax-two.png';
$bg-img-three: '/Users/julian/websites/Portfolio/media-icons/background-parallax-three.png';


@mixin parallax($bg-img) {
  height: 75vh;
  background-image: url($bg-img);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin nav-fade($fade) {
  -o-transition: $fade;
  -ms-transition: $fade;
  -moz-transition: $fade;
  -webkit-transition: $fade;
  transition: $fade;
}

  @mixin project-styling(){
    margin: 2% 25%;
    padding: 3% 1%;
    width: 50%;
    border-radius: 1.4%;
    font-size: 2rem;
  }

//Global
html{
  font-size: 1vw;
}
h1{
  font-family: $title-font;
}

h3{
  font-family:$title-font;
  font-size: 2rem;
  p{
    font-family: $content-font; 
    font-size: 1.7rem;
  }
}

//title
.title-section{
  height: $full-height;
  width: $full-width;
  display: inline-block;
  padding-left: $stack-on-nav;
  h1 {
    font-size: 5rem;
    padding-left: 10%;
    font-family: $title-font;
  }
  p {
    padding-left: 10%;
    font-size: 5rem;
    opacity: .5;
    font-family: $content-font;
  }
}

//navigation
nav {
   height: $full-height;  
   display: inline;
   
  ul {
    list-style-type: none;
    margin: 0;
    padding: 20% 0 0 0;
    width: 10%;
    height: 100%;
    background-color: black;
    position: fixed;
    li{
      width: 100%;
     
       a {
        padding: 7% 0 7% 3%;
        margin: 0;
        width: 100%;
        display: block;
        color: white;
        text-decoration: none;
        text-align: left;
        line-height: 1.6;
        font-size: 1.7rem;
        font-family: $content-font;
        &:hover{
          color: black;
          background-color: white;
          @include nav-fade($fade);
          
        }
      }
    }
  }
}

//skills flexbox
.skills-container{
  padding-left: $stack-on-nav ;
  width: 100%;
  
  h3{
    padding-left: 40%;
  }
  .flex-container{
    margin: 0;
    padding-left: 20%;
    padding-bottom: 5%;
    height: 80%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .skill-card{
     background-color: 	#f2f2f2;
     border: 2px solid #cccccc;
     padding: 5%;
     margin: 5%;
     text-align: center;
     p{
       padding: 0;
       margin: 0;
       text-align: center;
     }
     img{
       text-align: center;
     }
    }
  }
}

//projects
.projects-container{
  padding-left: $stack-on-nav;
  text-align: center;
  .project-capsule{
    text-align: center;
    text-decoration: none;
    a{
      text-decoration: none;
      color: black;
    }
    #Etch{
      @include project-styling();
      font-family: 'Lobster', cursive;
      text-shadow:-3px 1px 6px black;
      background-color: #e63946;
      color: #A8dadc;

    }
    #Rock{
      @include project-styling();
      color: #db504a;
      background-color: #24282a;

    }
    #Google{
      @include project-styling();
      background-color: #ededed;
    
      .g-blue{
        color:  #4285F4;
      }
      .g-red{
        color: #DB4437
      }
      .g-yellow{
        color: #F4B400;
      }
      .g-green{
        color: #0F9D58;
      }
    }
  }
}

.about-container{
  padding-left: $stack-on-nav;
  h3{

  }
  p{

  }
}


.goals-container{
  padding-left: $stack-on-nav;
}


//backgounds

.bg-one{
  @include parallax($bg-img-one);
}

.bg-two{
  @include parallax($bg-img-two);
}

.bg-three {
  @include parallax($bg-img-three);
}

.badge-icon{
  height: 75px;
  width: 75px;
  text-align: center;
}

#github-icon{
  height: 30%;
  width: 30%;
  margin-left: 25%;
  &:hover{
    background-color: black;
    border-radius: 100%;

  }
}