html {
  font-size: 1vw;
  overflow-y: scroll;
  overflow-x: hidden; }

h1 {
  font-family: "Roboto", sans-serif; }

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  padding-top: 5%; }
  h3 p {
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem; }

.title-section {
  height: 100vh;
  width: 100vw;
  display: inline-block;
  padding-left: 10%; }
  .title-section h1 {
    font-size: 5rem;
    padding-left: 10%;
    font-family: "Roboto", sans-serif; }
  .title-section p {
    padding-left: 10%;
    font-size: 5rem;
    opacity: .5;
    font-family: "Raleway", sans-serif; }

nav {
  height: 100vh;
  display: inline; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20% 0 0 0;
    width: 10%;
    height: 100%;
    background-color: black;
    position: fixed; }
    nav ul li {
      width: 100%; }
      nav ul li a {
        padding: 7% 0 7% 3%;
        margin: 0;
        width: 100%;
        display: block;
        color: white;
        text-decoration: none;
        text-align: left;
        line-height: 1.6;
        font-size: 1.7rem;
        font-family: "Raleway", sans-serif; }
        nav ul li a:hover {
          color: black;
          background-color: white;
          -o-transition: 0.6s;
          -ms-transition: 0.6s;
          -moz-transition: 0.6s;
          -webkit-transition: 0.6s;
          transition: 0.6s; }

.skills-container {
  padding-bottom: 7%;
  padding-left: 10%;
  width: 100%; }
  .skills-container h3 {
    padding-left: 40%; }
  .skills-container .flex-container {
    margin: 0;
    padding-left: 20%;
    padding-bottom: 5%;
    height: 80%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .skills-container .flex-container .skill-card {
      background-color: #f2f2f2;
      border: 2px solid #cccccc;
      padding: 5%;
      margin: 5%;
      text-align: center; }
      .skills-container .flex-container .skill-card p {
        padding: 0;
        margin: 0;
        text-align: center; }
      .skills-container .flex-container .skill-card img {
        text-align: center; }

.projects-container {
  padding-bottom: 7%;
  padding-left: 10%;
  text-align: center; }
  .projects-container .project-capsule {
    text-align: center;
    text-decoration: none; }
    .projects-container .project-capsule a {
      text-decoration: none;
      color: black; }
    .projects-container .project-capsule #Etch {
      margin: 2% 25%;
      padding: 3% 1%;
      width: 50%;
      border-radius: 1.4%;
      font-size: 2rem;
      font-family: 'Lobster', cursive;
      text-shadow: -3px 1px 6px black;
      background-color: #e63946;
      color: #A8dadc; }
    .projects-container .project-capsule #Rock {
      margin: 2% 25%;
      padding: 3% 1%;
      width: 50%;
      border-radius: 1.4%;
      font-size: 2rem;
      color: #db504a;
      background-color: #24282a; }
    .projects-container .project-capsule #Google {
      margin: 2% 25%;
      padding: 3% 1%;
      width: 50%;
      border-radius: 1.4%;
      font-size: 2rem;
      background-color: #ededed; }
      .projects-container .project-capsule #Google .g-blue {
        color: #4285F4; }
      .projects-container .project-capsule #Google .g-red {
        color: #DB4437; }
      .projects-container .project-capsule #Google .g-yellow {
        color: #F4B400; }
      .projects-container .project-capsule #Google .g-green {
        color: #0F9D58; }

.about-container {
  padding-bottom: 7%;
  padding-left: 10%;
  height: 50vh; }
  .about-container h3 {
    text-align: center; }
  .about-container p {
    text-align: justify;
    padding: 0 20% 0 20%;
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif; }

.goals-container {
  padding-bottom: 7%;
  padding-left: 10%; }
  .goals-container h3 {
    text-align: center; }
  .goals-container p {
    text-align: justify;
    padding: 0 20% 0 20%;
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif; }
  .goals-container li {
    list-style: none;
    padding: .5% 20% .2% 35%;
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif; }

.contact-container {
  padding-bottom: 7%;
  padding-left: 10%; }
  .contact-container h3 {
    text-align: center; }

.bg-one {
  height: 55vh;
  background-image: url("../styles/media/background-parallax.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-two {
  height: 55vh;
  background-image: url("../styles/media/background-parallax-two.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-three {
  height: 55vh;
  background-image: url("../styles/media/background-parallax-three.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.badge-icon {
  height: 75px;
  width: 75px;
  text-align: center; }

#github-icon {
  height: 30%;
  width: 30%;
  margin-left: 25%; }
  #github-icon:hover {
    background-color: black;
    border-radius: 100%; }

/*# sourceMappingURL=styles.css.map */
